<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.justas.grabble">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material"
        tools:replace="android:icon">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HistoryStatsActivity"
            android:label="@string/title_activity_history_stats"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />

        <receiver android:name=".utils.BatteryLevelReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>